<h3 class="home-title">Mis grupos</h3>
<button [routerLink]="['/newgroup']" class="btn btn-primary" >Crear nuevo grupo </button>

<div class="card " *ngFor="let  story of groups let i=index" style="margin-bottom:5px">
    <div class="card-body">
        <div class="row">
            <div class=" col-3">
                <img src="../../../assets/img/group.png" width="140" height="140">
            </div>
            <div class=" col-9">
                <div class="row">
                    <h4 class="card-title">{{story.title}}</h4>
                </div>
                <div class="row">
                    <a style="font-size: 14px" href="profile/{{story.master}}">{{story.master}}</a> 
                </div>              
                <div class="row">
                    <p class="card-text" style="overflow:hidden;">{{story.description}}</p>
                </div>
                <div class="row">

                </div>          
                <div class="row">
                    <button href="#" class="btn btn-primary" (click)="goStory(story.id);">Leer más </button>
                </div>                
                <div class="row float-right"style="margin-right: 2%;" >
                    <i class="fa fa-eye" aria-hidden="true" style="margin-right:10px" >{{story.viewed}}</i>
                    <i class="fa fa-comment-o" aria-hidden="true">0</i>
                </div>                
            </div>
        </div>
    
</div>
</div>