<div class="basr-social-share social">
  <ul class="">
	<li>
	  <a  href="">
		<i class="fa fa-home"></i>
			<span>Inicio</span>
		</a>
	</li>
				
	<li>
	  <a class="twitter" href="">
		<i class="fa fa-users"></i>
			<span>Mis grupos</span>
	  </a>
	</li>
				
	<li>
		<a class="googleplus" href="">
		<i class="fa fa-google-plus"></i>
		<span>Google Plus</span>
		</a>
	</li>
				
	<li>
	  <a class="linkedin" href="">
		<i class="fa fa-linkedin"></i>
		<span>Linkedin</span>
		</a>
		</li>
				
		<li>
		<a class="tumblr" href="">
		<i class="fa fa-tumblr"></i>
		<span>Tumblr</span>
		</a>
		</li>
				
  </ul>
</div>