<div class="animated fadeIn Fast" style="margin-left: 20px">
    <div class="row">
        <div class="col-8">
            <mat-tab-group  style="margin-top:20px">
                <mat-tab label="Inicio">
                    <app-last-stories [stories]="stories" ></app-last-stories>
                    </mat-tab>
                <mat-tab *ngIf="user" label="Siguiendo"> </mat-tab>
                <mat-tab *ngIf="user" label="Mis escritos"> <app-my-stories [user]="user"></app-my-stories>  </mat-tab>
                <mat-tab *ngIf="user" label="Mis grupos"> <app-groups [user]="user"></app-groups>  </mat-tab>
            </mat-tab-group>
        </div>
        <div class="col-3">
            <div class="row">
            <div class="card" style="width: 100%;margin-top:86px;border-top-left-radius: 25px;    border-top-right-radius: 25px;">
                <div class="card-title home-title" style="background-color:#456182;color:white;border-top-left-radius: 25px;border-top-right-radius: 25px">
                    <h4 style="text-align: center;margin: 5px"> Críticos favoritos</h4>
                         
                </div>
                <div class="card-body">
                    <mat-list>
                        <mat-list-item>
                                <img src='../../../assets/img/avatar.png' class="img-fluid" width="25px" height="25px" style="border-radius: 50%;">
                            <a style="    margin-left: 10px;">Alexis con 5 puntos</a>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item><img src='../../../assets/img/avatar.png' class="img-fluid" width="25px" height="25px" style="border-radius: 50%;">
                            <a style="    margin-left: 10px;">Alexis II con 3 puntos</a></mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item><img src='../../../assets/img/avatar.png' class="img-fluid" width="25px" height="25px" style="border-radius: 50%;">
                            <a style="    margin-left: 10px;">Alexis III con 0 puntos</a></mat-list-item>
                    </mat-list>                                   
                </div>
            </div>
        </div>

        <div class="row">
                <div class="card" style="width: 100%;margin-top:20px;    border-top-left-radius: 25px;border-top-right-radius: 25px;">
                    <div class="card-title home-title" style="background-color:#456182;color:white;border-top-left-radius: 25px;border-top-right-radius: 25px">
                        <h4 style="text-align: center;margin: 5px"> Historias comentadas</h4>
                             
                    </div>
                    <div class="card-body">
                        <mat-list>
                            <mat-list-item>
                                    <img src='../../../assets/img/pluma.png' class="img-fluid" width="25px" height="25px" style="border-radius: 50%;">
                                <a style="    margin-left: 10px;">El trono de la caca con 5 comentarios</a>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item><img src='../../../assets/img/pluma.png' class="img-fluid" width="25px" height="25px" style="border-radius: 50%;">
                                <a style="    margin-left: 10px;">Los niñosdel fin con 3 comentarios</a></mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item><img src='../../../assets/img/pluma.png' class="img-fluid" width="25px" height="25px" style="border-radius: 50%;">
                                <a style="    margin-left: 10px;">iokese con 0 comentarios</a></mat-list-item>
                        </mat-list>                                   
                    </div>
                </div>
            </div>        
        </div>
    </div>
  </div>

