<div class="animated fadeIn Fast main-container">

  <h2>Nueva publicación</h2>
  <mat-spinner *ngIf="!storyForm" [color]="white"></mat-spinner>
  <form *ngIf="storyForm" [formGroup]="storyForm" >

        <ng-flash-message></ng-flash-message>

      
    <input type="hidden" class="form-control" id="user" name='user' formControlName="user" >
    <div class="form-group">
      <label for="title">Título:</label>
      <input type="text" class="form-control" id="title" name='title' formControlName="title" >
    </div> 
    
    <div class="form-group">
      <label for="storyText">Publicación:</label>
      <textarea class="form-control" rows="5" id="storyText" name='storyText'  formControlName="storyText"></textarea>
    </div>

    <div class="form-group">
      <label for="category">Categoría:</label>
      <select class="form-control" id="category" name='category' formControlName="category">
        <option>Relato</option>
        <option>Novela</option>
        <option>Poema</option>
        <option>Cuento</option>
        <option>Otros</option>
      </select>
  </div>
  
  <div class="form-group">
    <label for="image">Subir portada</label>
    <input type="file" class="form-control-file" id="image" name='image' formControlName="image">
  </div>
  
  <div formArrayName="questions">
    
      <h3>Tus preguntas</h3> 
      
      
      <div *ngFor="let media of medias; let i = index" >
        <div class="animated fadeIn Fast ">
        <!-- The repeated alias template -->
        
        <div class="panel-body" >
          <h4>Pregunta N°{{i+1}}</h4>
          <app-question  (sendMedia)="addQuestionForm($event)"></app-question>
        </div>
        <div class='col-2'>
          <div class='form-group'>
            <label for='usr'></label>
            <button  id='delete_question' (click)="removeQuestion(i);" class='btn btn-danger'>Eliminar pregunta</button>
          </div>
        </div>
        
      </div>
    </div>
      <button (click)="addQuestion();" id="new_question" class="btn btn-primary">Nueva pregunta</button>
  </div>
    <button (click)="openDialog();" id="submit" type='submit' class="btn btn-success" [disabled]="author.points<5" >Publicar</button>
  </form>
</div>
