<div class="card w-75" >
  <div class="card-body">
      <div class="row">
          <div class=" col-3">
            Nombre
          </div>
          <div class=" col-9">
            {{profile.given_name}}
          </div>
      </div>
  </div>
</div>

<div class="card w-75" >
  <div class="card-body">
      <div class="row">
          <div class=" col-3">
            Apellido
          </div>
          <div class=" col-9">
            {{profile.family_name}}
          </div>
      </div>
  </div>
</div>

<div class="card w-75" >
  <div class="card-body">
      <div class="row">
          <div class=" col-3">
            Correo electrónico
          </div>
          <div class=" col-9">
            {{profile.nickname}}@gmail.com
          </div>
      </div>
  </div>
</div>