<div class="animated fadeIn Fast">

  <div class="container">
    <div class="row" *ngIf='profile'>
      <div class="col-md-3">
        <img src='../../../assets/img/avatar.png' class="img-fluid" width="200px" height="200px" style="border-radius: 50%;">
      </div>
      <div class="col-md-4">
        <h2>{{profile.username}}</h2>
        <h4>{{profile.points}} Puntos</h4>
      </div>
    </div>

    <div class="col-md-10">
      <mat-tab-group *ngIf="profile">
        <mat-tab label="Actividad"> <app-my-activity></app-my-activity> </mat-tab>
        <mat-tab label="Información"> <app-my-info [infoProfile]="profile"></app-my-info></mat-tab>
        <mat-tab label="Mis escritos"> <app-my-stories [user]="profile.username"></app-my-stories>  </mat-tab>
      </mat-tab-group>
    </div>  
  </div>
  
</div>