<div [formGroup]="questionForm">
    <div class='col-3'>
      <div class='form-group' >
        <label for='type'>Tipo de respuesta:</label>
        <select class='form-control' id='type' formControlName="type" (change)="changeType($event.target.value);" >
          <option value='normal'>Desarrollada</option>
          <option value= 'number'>Numérica (1-10)</option>
          <option value='options'>Opciones</option>
        </select>
      </div>
    </div>
   
    <div class='col-7'>     
      <div class='form-group'>
        <label for='description'>Pregunta:</label>
        <input type='text' class='form-control' id='description' formControlName="description">
      </div>
      <div *ngIf="type == 'options' " class='form-group'>
        <label for='description'>Opciones:</label>
        <mat-form-field class="example-chip-list" style="width:1000px" >
            <mat-chip-list #chipList formControlName='options'>
              <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                       [removable]="removable" (removed)="remove(fruit)" >
                {{fruit}}
                <mat-icon matChipRemove *ngIf="removable">x</mat-icon>
              </mat-chip>
              <div class='form-group'>
              <input  placeholder="Opciones..."
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     [matChipInputAddOnBlur]="addOnBlur"
                     (matChipInputTokenEnd)="add($event)"
                     
                     >
                    </div>                     
            </mat-chip-list>
          </mat-form-field>
          
      </div>
  
    </div>


</div>

