<div [formGroup]="questionForm">
    <div class='col-3'>
      <div class='form-group' >
        <label for='type'>Tipo de respuesta:</label>
        <select class='form-control' id='type' formControlName="type" >
          <option>Desarrollada</option>
          <option>Numérica (1-10)</option>
          <option>Sí/No</option>
        </select>
      </div>
    </div>
    <div class='col-7'>     
      <div class='form-group'>
        <label for='description'>Pregunta:</label>
        <input type='text' class='form-control' id='description' formControlName="description">
      </div>
    </div>

  
</div>
